macosx/.done-*
windows/.done-*
windows/clementine-deps/
windows/curl-7.21.4/
windows/davidsansome-liblastfm-efc802d/
windows/davidsansome-qtsparkle-e0fbcf7/
windows/faac-1.28/
windows/faad2-2.7/
windows/fftw-3.2.2/
windows/flac-1.2.1/
windows/gst-ffmpeg-0.10.11/
windows/gst-plugins-bad-0.10.19/
windows/gst-plugins-base-0.10.30/
windows/gst-plugins-good-0.10.24/
windows/gst-plugins-ugly-0.10.15/
windows/gstreamer-0.10.30/
windows/lame-3.98.4/
windows/libarchive-2.8.4/
windows/libcdio-0.82/
windows/libgpod-0.8.0/
windows/libid3tag-0.15.1b/
windows/libimobiledevice-1.0.4/
windows/libmad-0.15.1b/
windows/libmms-win32/
windows/libmpcdec-1.2.6/
windows/libofa-0.9.3/
windows/libogg-1.2.0/
windows/liboil-0.3.17/
windows/libplist-1.3/
windows/libvorbis-1.3.1/
windows/orc-0.4.6/
windows/protobuf-2.4.0a/
windows/qjson-0.7.1/
windows/speex-1.2rc1/
windows/sqlite-3.7.0/
windows/taglib-1.7/
windows/usbmuxd-1.0.6/
windows/wavpack-4.60.1/
*~
